<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.model.dao.MemberDao">
	<select id="selectList" parameterType="com.project.model.vo.MemberVO" resultType="com.project.model.vo.MemberVO">
        SELECT MEMBER_ID
             , MEMBER_NAME
             , MEMBER_PW
             , MEMBER_EMAIL
             , MEMBER_GRADE
          FROM member
    </select>
	
	<insert id="insert" parameterType="memberVO">
		INSERT INTO MEMBER(member_id,member_pw,member_name,member_email,member_phone,member_grade)
		VALUES(
			#{member_id},#{member_pw},#{member_name},#{member_email},#{member_phone},#{member_grade}
		)
	</insert>
	
	<select id="login" parameterType="memberVO" resultType="memberVO">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_GRADE
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
		AND MEMBER_PW = #{member_pw}
	</select>
	
	<select id="selectOne" parameterType="String" resultType="memberVO">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_GRADE
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="idChk" parameterType="memberVO" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID=#{member_id}
	</select>
	
	<select id="kakaoEmailChk" parameterType="String" resultType="memberVO">
		SELECT *
		FROM MEMBER
		WHERE member_email = #{kakaoEmail}
	</select>
	
</mapper>
